spring:
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql
  datasource:
    url: jdbc:mysql://localhost:3306/test1DB?useSSL=false
    username: root
    password: 9415655327&hikh@r
  jpa:
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    hibernate:
      ddl-auto: create
  application:
    name: jpaLearn
